.container {
    margin: 20px auto;
}

.modal-header {
    background-color: #6c757d; /* серый */
    color: #fff; /* белый текст */
}

.modal-body {
    background-color: #f8f9fa; /* серый */
}

.modal-footer {
    background-color: #6c757d; /* серый */
    color: #fff; /* белый текст */
}

.form-control {
    border: 1px solid #6c757d; /* серый */
}

.btn {
    background-color: #6f42c1; /* фиолетовый */
    color: #fff; /* белый текст */
}

.btn:hover {
    background-color: #5a3ec8; /* темно-фиолетовый при наведении */
}
